<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.pablo.appbibliotecafup" >

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.developer.pablo.appbibliotecafup.util.Configuracion" >
        <activity
            android:name=".Activity_login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.developer.pablo.appbibliotecafup.Activity_admin"
                  android:label="@string/title_activity_admin">
        </activity>
        <activity android:name="com.developer.pablo.appbibliotecafup.Activity_crear_libro"
            android:label="@string/title_activity_crear_libro">
        </activity>
        <activity android:name="com.developer.pablo.appbibliotecafup.Activity_listado_libros"
            android:label="@string/title_activity_crear_libro">
        </activity>
        <activity android:name="com.developer.pablo.appbibliotecafup.Activity_detalle_libro"
            android:label="@string/title_activity_detalle_libro">
        </activity>
        <activity android:name="com.developer.pablo.appbibliotecafup.BuscadorLibroAvanzado"
            android:label="@string/title_activity_buscador_avanzado_libro">
        </activity>
    </application>

</manifest>
